<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styleCustom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="/images/Logobgremove.png" type="image/x-icon">
    <style>
        .btn-custom {
            width: 100%;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <header class="d-flex align-items-center justify-content-between p-3 bg-light" style="height: 10vh;">
        <a href="/home" class="logo"><img src="/images/Logobgremove.png" alt="[LOGO]"></a>
        <nav class="d-flex justify-content-center align-items-center flex-nowrap">
            <a href="/home" class="btn btn-primary mx-2">Inicio</a>
            <a href="/documentacion" target="_blank" class="btn btn-primary mx-2">Documentación</a>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-user"></i>
                <p class="p-0 m-0" style="font-size: normal;" th:text="${admin.nombre}"></p>
            </div>
        </nav>
    </header>
    <main class="d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">
        <h1 class="text-center pb-1">Bienvenido a <b style="color: #0266ac;">E</b>-VOLUTION</h1>
        <h5 class="text-center pb-2">
            Región de <span th:switch="${admin.ubicacion}">
                <span th:case="arica">Arica y Parinacota</span>
                <span th:case="tarapaca">Tarapacá</span>
                <span th:case="antofagasta">Antofagasta</span>
                <span th:case="atacama">Atacama</span>
                <span th:case="coquimbo">Coquimbo</span>
                <span th:case="valparaiso">Valparaíso</span>
                <span th:case="metropolitana">Metropolitana de Santiago</span>
                <span th:case="ohiggins">Libertador General Bernardo O'Higgins</span>
                <span th:case="maule">Maule</span>
                <span th:case="nuble">Ñuble</span>
                <span th:case="biobio">Biobío</span>
                <span th:case="araucania">La Araucanía</span>
                <span th:case="rios">Los Ríos</span>
                <span th:case="lagos">Los Lagos</span>
                <span th:case="aysen">Aysén del General Carlos Ibáñez del Campo</span>
                <span th:case="magallanes">Magallanes y de la Antártica Chilena</span>
            </span>
        </h5>
        <div style="display: flex;justify-content: center;align-items: center; box-sizing: content-box !important; width: 50%;">
            <div style="margin-right: 5px; box-sizing: content-box !important;">
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseCliente" class="btn btn-primary btn-custom">Base de datos clientes</a>
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseRelator" class="btn btn-primary btn-custom">Base de datos relatores</a>
                <a th:if="${admin.rol == 'administrador'}" href="/dataBasePlantilla" class="btn btn-primary btn-custom">Plantillas de diplomas</a>
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseCurso" class="btn btn-primary btn-custom">Base de datos cursos</a>
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseAlumno" class="btn btn-primary btn-custom">Base de datos Alumnos</a>
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseAdmin" class="btn btn-primary btn-custom">Administradores</a>
            </div>
            <div style="margin-left: 5px; box-sizing: content-box !important;">
                <a th:if="${admin.rol == 'administrador'}" href="/dataBaseAlumno/addAlumnoBase" class="btn btn-secondary btn-custom">Agregar alumno base de datos</a>
                <a href="/seccionAsistencia" class="btn btn-secondary btn-custom">Sección asistencia</a>
                <a href="/ubicacion" class="btn btn-light btn-custom">Cambiar ubicación</a>
                <a th:if="${admin.rol == 'administrador'}" href="/programarCertificadoMoodleManual" class="btn btn-custom" style="background-color: #f98418; color: white;">Emitir certificado con Moodle</a>
                <a th:if="${admin.rol == 'administrador'}" href="/programarCertificadoMoodle" class="btn btn-custom" style="background-color: #f98418; color: white;">Programar certificado Moodle</a>
                <a href="/documentacion" target="_blank" class="btn btn-light btn-custom">Documentación</a>
            </div>
        </div>
        <a style="width: 17%;" href="/logout" class="btn btn-danger btn-custom">Cerrar sesión</a>
    </main>
    <footer class="text-center p-3 bg-light d-flex justify-content-center align-items-center" style="height: 15vh;">
        <div>
            <div><i class="fa-solid fa-phone"></i><a href="tel:+56 41 3830944">+56 41 3830944</a></div>
            <div><i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/Consultores+Empresariales+E-Volution+Limitada/@-36.8252678,-73.050754,19z/data=!3m1!4b1!4m6!3m5!1s0x9669b5d0308198b5:0xbd67409566499fa!8m2!3d-36.8252678!4d-73.0501103!16s%2Fg%2F11fzwngw1q?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D">Freire 728, Oficina 206</a></div>
            <div><i class="fa-solid fa-envelope"></i><a href="mailto:contacto@e-volution.cl">contacto@e-volution.cl</a></div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>