<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Subir archivos a OneDrive</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Importar CSS de Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styleCustom.css}" />
    <link
      rel="icon"
      th:href="@{/images/Logobgremove.png}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- Importar jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Importar JS de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x: hidden;">
    <header
      class="d-flex align-items-center justify-content-between p-3 bg-light"
      style="height: 10vh; z-index: 1"
    >
      <a th:href="@{/home}" class="logo">
        <img th:src="@{/images/Logobgremove.png}" alt="[LOGO]" />
      </a>
      <nav class="d-flex justify-content-center align-items-center flex-nowrap">
        <a th:href="@{/home}" class="btn btn-primary mx-2">Regresar</a>
        <a th:href="@{/home}" class="btn btn-primary mx-2">Inicio</a>
        <a
          th:href="@{/documentacion}"
          target="_blank"
          class="btn btn-primary mx-2"
          >Documentación</a
        >
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <i class="fa-solid fa-user"></i>
          <p
            class="p-0 m-0"
            style="font-size: normal"
            th:text="${admin.nombre}"
          ></p>
        </div>
      </nav>
    </header>
    <div style="width: 100vw; height: 90vh; background-color: red;">

    </div>
    <footer
      class="text-center p-3 d-flex justify-content-center align-items-center"
      style="height: 15vh; background-color: #f8f9fa"
    >
      <div>
        <div>
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+56 41 3830944">+56 41 3830944</a>
        </div>
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <a href="https://www.google.com/maps/place/Consultores+Empresariales+E-Volution+Limitada/@-36.8252678,-73.050754,19z/data=!3m1!4b1!4m6!3m5!1s0x9669b5d0308198b5:0xbd67409566499fa!8m2!3d-36.8252678!4d-73.0501103!16s%2Fg%2F11fzwngw1q?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D">
            Freire 728, Oficina 206
          </a>
        </div>
        <div>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:contacto@e-volution.cl">contacto@e-volution.cl</a>
        </div>
      </div>
    </footer>
</body>
</html>